*{
    border:0;
    margin:0;
}
body{
    margin-left: auto;
    margin-right:auto;
    width:100%;
    max-width:900px;
  }
article > nav{
    display:flex;
    justify-content: space-around;
    align-items:center;
    /* flex-direction: column; */
    flex-wrap: wrap;
    min-height:58px;
    width:100%;
    max-width:var(--FullMaxBodyWidth);
  }
  nav > ul > li{
    display:inline-block;
  }
  nav > ul > li:nth-child(4) > label > fieldset > legend{
    border-radius:7px 7px 0 0;
    background-color: #7be77f;
  }
  nav > ul > li:nth-child(4) > label > fieldset{
    border-radius:7px;
    background-color: #7be77f;
  }
  nav > ul > li > a{
    color:#4CAF4F;
    text-shadow: 1px 1px black;
    text-decoration: none;
    font-size:20px;
  }
  nav > ul > li > a:hover{
    color:#7af17e;
  }
  @media(min-width:700px){
    #languageSmall{
      display:block;
    }
  }
  @media(max-width:700px){
    nav > ul{
      display:none;
    }
    nav > button{
      display:none;
    }
   nav > div > span{
      display:block;
      background-color: #4CAF4F;
      width:70px;
      height:3px;
    }
     nav > div > span:nth-child(2){
      margin-top:7px;
      margin-bottom:7px;
    }
    #languageSmall{
      display:none;
    }
  }
  article{
    width:100%;
    max-width:900px;

  }
  #langU{
    font-size: 10px;
  }
  /* ***************************************************************************************************** */
/* MENU */
/* ***************************************************************************************************** */
.openMenu{
    height:0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;
    text-shadow:1px 1px black;
    background-color: #4CAF4F;
    width:100%;
    position:absolute;
    top:0;
    font-size:0;
    opacity:0;
    transition:all ease-out 1s;
  }
  .openMenu > h3 > a{
    text-decoration: none;
    color:white;
    text-shadow:1px 1px black;
  }
  .openMenu > h3{
    margin-top:15px;
    margin-bottom:33px;
  }
  #sigCommentsBlock{
    width:100%;
  }

/* ---------------------------------------------------------------------- */
/* FOTER */
/* ---------------------------------------------------------------------- */
  footer{
    width:100%;
    max-width: var(--MaxWidthFull);
    min-height: 230px;
    background:#263238;
    color:white;
    text-shadow: 1px 1px black;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  footer > div{
    width:100%;
    max-width:1300px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
  }
  footer > div > div > ul > li > a{
    color:#4CAF4F;
    text-decoration: none;
    text-shadow: 2px 2px black;
  }
  footer > div > div > ul > li > a:hover{
    color:#7af17e;
  }
  /* ---------------------------the end-------------------------- */